In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

In [2]:
data = pd.read_csv('taxi.csv')

In [3]:
data.head()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800

In [5]:
data_x = data.iloc[:,0:-1].values
data_y = data.iloc[:,-1].values

In [6]:
data_y

array([192000, 190400, 191200, 177600, 176800, 178400, 180800, 175200,
       174400, 173920, 172800, 163200, 161600, 161600, 160800, 159200,
       148800, 115696, 147200, 150400, 152000, 136000, 126240, 123888,
       126080, 151680, 152800])

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(data_x,data_y)

In [9]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [10]:
reg.fit(X_train,y_train)

LinearRegression()

In [11]:
reg.score(X_test,y_test)

0.9358986252570135

In [12]:
pickle.dump(reg,open('taxi1.pkl','wb'))

In [13]:
model = pickle.load(open('taxi1.pkl','rb'))

In [14]:
model.predict([[80,1770000,6000,85]])

array([156256.91524938])